<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Air Price For You</title>

	<link rel="stylesheet" type="text/css" href="static/css/style2.css">
</head>

<body>
	

	<div class="night">
		<div class="line-1 anim-typewriter">The Flight Price is <b>RS {{ prediction_text }}</b></div>
		<div class="surface"></div>
		<div class="car">
		<img class="img" src="static/css/flight.png" alt="Flight">	
		</div>
		<div class="footer">
                  <p>© Rajalakshmi Engineering College | CSE | Final Year Project</p>
        </div>
    </div>

</body>	

</html>

